<!-- <p>dashboard works!</p> -->
<div style="font-size: 40px; margin-left: 160px; ">
    Welcome To Our Service
</div>
<div style="font-size: 40px; margin-left: 100px; margin-bottom: 500px; display: flex; ">
    <div
        style="margin-top: 70px; border: 1px; background: blue; color: black; width: max-content; padding:20px; margin-left: 30px;">
        <h1>Total Blog</h1>
    </div>
    <div
        style="margin-top: 70px; border: 1px; background: blue; color: black; width: max-content; padding:20px;  margin-left: 30px;">
        <h1>Total News</h1>
    </div>
    <div
        style="margin-top: 70px; border: 1px; background: blue; color: black; width: max-content; padding:20px;  margin-left: 30px;">
        <h1>Total Emp</h1>
    </div>
</div>