<form [formGroup]="invoiceGenerateForm">

    <p>
        <label for="billDate">billDate </label>
        <input type="date" id="billDate" name="billDate" formControlName="billDate">
    </p>


    billItem:
    <div formArrayName="billItem">
        <div *ngFor="let skill of billItem.controls; let i=index">
            <div [formGroupName]="i">
                {{i}}
                bill Item :
                <input type="itemName" formControlName="itemName">
                amount:
                <input type="amount" formControlName="amount">

                <button (click)="removeBillItem(i)">Remove</button>
            </div>
        </div>
        <p>
            <button type="button" (click)="addBillItem()">Add</button>
        </p>
    </div>

    <div>
        <button type="submit" (click)="onSubmit()" *ngIf="Isedit==false">Submit</button>
        <button type="submit" (click)="onUpdate()" *ngIf="Isedit==true">Update</button>
    </div>

</form>

<!-- {{this.invoiceGenerateForm.value | json}} -->